doctype html
html(lang="en")
    head
        title| Hackathon
        link(rel="stylesheet", type="text/css", href="./css/hackathon.css")
    body
        .content
            header.main
                h1| Hackathon 2014
                h2| Get excited.
            #chat
                header
                    strong| @brekk
                ul.chat-content
                    li.post
                        strong| You:
                        p| Raw denim fixie iPhone squid aesthetic. Try-hard scenester sustainable put a bird on it chia PBR&amp;B
                    li.post
                        strong| Some Jerk:
                        p| Synth four loko kale chips, bicycle rights bespoke hella readymade chillwave 8-bit taxidermy.
                    li.post
                        strong| You:
                        p| Raw denim fixie iPhone squid aesthetic. Try-hard scenester sustainable put a bird on it chia PBR&amp;B
                    li.post
                        strong| Some Jerk:
                        p| Synth four loko kale chips, bicycle rights bespoke hella readymade chillwave 8-bit taxidermy.
                    li.post
                        strong| You:
                        p| Raw denim fixie iPhone squid aesthetic. Try-hard scenester sustainable put a bird on it chia PBR&amp;B
                    li.post
                        strong| Some Jerk:
                        p| Synth four loko kale chips, bicycle rights bespoke hella readymade chillwave 8-bit taxidermy.
                    li.post
                        strong| You:
                        p| Raw denim fixie iPhone squid aesthetic. Try-hard scenester sustainable put a bird on it chia PBR&amp;B
                    li.post
                        strong| Some Jerk:
                        p| Synth four loko kale chips, bicycle rights bespoke hella readymade chillwave 8-bit taxidermy.
                    